@tailwind base;
@tailwind components;
@tailwind utilities;

/* Memastikan body dan html mengambil tinggi layar penuh */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* Mencegah scroll yang tidak perlu jika kontennya pas */
  overscroll-behavior-y: none;
}

#root {
  height: 100%;
  width: 100%;
}